<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Moto Dragon</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#">Početna</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
           Moto oprema 
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Kacige</a></li>
            <li><a class="dropdown-item" href="#">Jakne</a></li>
            <li><a class="dropdown-item" href="#">Rukavice</a></li>
            <li><a class="dropdown-item" href="#">Podkape</a></li>
            <li><a class="dropdown-item" href="#">Pantalone</a></li>
            <li><a class="dropdown-item" href="#">Obuća</a></li>
            <li><a class="dropdown-item" href="#">Kožni kombinezoni</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Oprema za motore
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Blatobrani</a></li>
            <li><a class="dropdown-item" href="#">Koferi</a></li>
            <li><a class="dropdown-item" href="#">Crash padovi</a></li>
            <li><a class="dropdown-item" href="#">Maglenke</a></li>
            <li><a class="dropdown-item" href="#">Vizir za motore</a></li>
            <li><a class="dropdown-item" href="#">Štenderi</a></li>
            <li><a class="dropdown-item" href="#">Torbe</a></li>
            <li><a class="dropdown-item" href="#">Cirade za motore</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">O nama</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Kontakt</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" id="nav-link-registration">Prijava/Registracija</a>
        </li>
      </ul>
    </div>
  </div>
</nav>