
<%- include('partials/header.ejs') %>
<div id="about-us-container">
    <div id="about-us-background-image">
        <div class="about-us-header">
            <h1>O nama</h1>
        </div>
    </div>
</div>
<div class="about-us-main-content">
    <div class="about-us-first-content-section">
        <div class="about-us-image-container">
            <img src="/public/images/about-us/about-us-content-image.jpg" alt="img">
        </div>
        <div class="about-us-content" id="about-us-first-text">
            <h4>Lorem</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, repellendus iste assumenda, animi minus maiores ut temporibus recusandae eligendi eius perspiciatis inventore vel, obcaecati consequatur laborum ratione corporis laboriosam unde.</p>
        </div>
    </div>
    <div class="about-us-second-content-section">
        <div class="about-us-content" id="about-us-second-text">
            <h4>Lorem</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, repellendus iste assumenda, animi minus maiores ut temporibus recusandae eligendi eius perspiciatis inventore vel, obcaecati consequatur laborum ratione corporis laboriosam unde.</p>
        </div>
        <div class="about-us-image-container">
            <img src="/public/images/about-us/about-us-content-image2.jpg" alt="img">
        </div>
    </div>
</div>
<%- include('partials/footer.ejs') %>