/*small screens phones util 768px or equal to*/
@media only screen and (max-width: 768px) {
    .container .home-card-image {
        width: 6rem!important;
    }

    .container .home-card-image .card-body h6 {
        font-size: 0.8em!important;
    }
}

/*small screens (phones)*/
@media only screen and (max-width: 992px) {
    #login-shopping-cart-div {
        margin-left: none!important;
    }

    .nav-item .dropdown-menu .dropdown-item:hover {
        background-color: var(--hover-color); 
    }
}

/*small screens --> equal to or greater than 768px*/
@media only screen and (min-width: 768px) {
    .container .home-card-image {
        width: 10rem!important; 
        transition: 0.5s!important;
        margin: 10px 10px!important;
    }

    .container .home-card-image:hover {
        box-shadow: 2px 2px 10px 4px rgba(0, 0, 0, 0.5);
        scale: 1.030;
        transition: 0.25s;
    }

    .container .home-card-image:active {
        scale: 0.99;
    }
}

/*md screens*/
@media all and (min-width: 992px) {
    .navbar {
        padding-top: 0!important;
        padding-bottom: 0!important;
    }

    .navbar .navbar-brand {
        padding: 0 0.8em;
    }

    .navbar .navbar-nav .nav-link {
        padding: 2.1em 0.7em;
    }

    .nav-item .dropdown-menu {
        box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);
    }

    .navbar .nav-item .dropdown-menu {
        display: none;
        margin-top: 0;
    }

    .navbar .nav-item:hover .dropdown-menu {
        display: block;
    }

    #login-shopping-cart-div {
        margin-left: calc(var(--navbar-padding) + 2em);
        margin-right: 8px;
        margin-top: 1.5em!important;
    }

    #nav-logo {
        padding: 6px 0;
    }
}

/*lg screens*/
@media only screen and (min-width: 1200px){
    .container .home-card-image {
        width: 14rem!important;
        transition: 0.5s!important;
        margin: 10px 10px!important;
    }
}

@media only screen and (min-width: 1400px) {
    .container .home-card-image {
        width: 18rem!important;
        transition: 0.25s!important;
    }
}

/*-----about us page----*/

@media only screen and (max-width: 768px) {
}

#about-us-background-image {
    position: relative;
    height: 500px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#about-us-background-image::before {
    content: "";
    background-image: url(/public/images/background-image-onama2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    z-index: -1;
    max-height: 500px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.5;
}

.about-us-header {
    text-align: center;
}

.about-us-main-content {
    width: 1200px;
    margin: 0 auto;
}

.about-us-first-content-section {
    margin-top: 4em;
    display: flex;
}

.about-us-second-content-section {
    margin-top: 4em;
    display: flex;
}

.about-us-content{
    background-color: rgba(231, 228, 228, 0.19);
    border: 1px solid #ccc;
    padding: 2em;
    border-radius: 8px;
}

.about-us-content{
    background-color: rgba(231, 228, 228, 0.19);
    border: 1px solid #ccc;
    padding: 2em;
    border-radius: 8px;
}

.about-us-image-container img {
    border-radius: 8px;
    backdrop-filter: blur(5px);
}

#about-us-first-text {
    margin-left: 2em;
}

#about-us-second-text {
    margin-right: 2em;
}

/*-----footer-----*/
.github-icon {
    width: 1.8rem;
    height: 1.8rem;
}

#footer-container {
    margin-top: 40px;
}

.github-profile-link {
    color: rgb(179, 177, 177); 
    text-decoration: none;
}

.github-profile-link:hover {
    color: rgb(15, 15, 15);
}

footer p {
    margin: 0;
}