
h3 {
    margin-top: 12rem!important;
    margin-left: 2rem!important;
}

.contact-form-h2 {
    margin: auto auto;
    padding-top: 50px;
}

.contact-us-header {
    text-align: center;
}

#contact-us-background-image::before {
    content: "";
    background-image: url(/public/images/Contact/contact-us-photo2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    z-index: -1;
    max-height: 400px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.5;
}

.contact-map-form {
    display: flex;
    flex-direction: column;
}

iframe {
    margin-bottom: -6px;
    width: 100%;
    height: 500px;
}

.google-map {
    margin: 150px auto 20px auto;
    max-width: 1500px;
    width: 100%;
    display: inline-block;
    border-top: 10px solid var(--hover-color);
    border-bottom: 10px solid var(--hover-color);   
    /* backdrop-filter: blur(60px) saturate(100%); */
}

.contact-form {
    font-weight: bold;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    margin-top: 10px;
    padding: 50px 30px;
    background-color: rgba(3, 3, 3, 0.293);
    border: 2px solid var(--hover-color);
    border-radius: 10px;
}

.input {
    display: block;
    margin-bottom: 40px;
    width: 730px;
    padding-left: 2px;
    font-size: 1.5em;
    color: #1a1818;
    height: 3rem;
    border-radius: 8px;
    background-color: #ddd8d8c2;
    border: 2px solid transparent;
}

.input:hover,
.input:active {
    border-color: var(--hover-color); 
}

.input:focus {
    outline: none;
    border-color: var(--hover-color);
    box-shadow: none;
}

label {
    font-size: 1.3em;
    padding: 0;
}

#textbox-label {
    display: block;


}

#textbox {
    border-radius: 6px;
    font-size: 1.5em;
    background-color: #ddd8d8c2;
}

#submit {
    display: block;
    margin-top: 2em;
    width: 250px;
    height: 40px;
    background-color: rgb(24, 23, 24);
    border: none;
    border-radius: 6px;
}

#submit:hover {
    background-color: var(--hover-color);
}