
.container .home-card-image {
    width: 8rem;
    margin: 10px 6px;
    padding: 0;
}

#home-background-image {
    background: url(/public/images/home-background-image.jpg) no-repeat center center; 
    background-size: cover;
    height: 370px;
    opacity: 0.5;
}