<%- include('../partials/header.ejs') %>

<main class="container my-4">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Početna</a></li>
      <li class="breadcrumb-item"><a href="/oprema-za-motore">Oprema za motore</a></li>
      <li class="breadcrumb-item active" aria-current="page">Koferi</li>
    </ol>
  </nav>

  <h1 class="mb-3">Koferi</h1>

  <p>Ovde će biti lista proizvoda za izabranu kategoriju.</p>

</main>

<%- include('../partials/footer.ejs') %>